.card-page
    margin: 0 auto
.my-card
    width: 100%
    min-height: 200px
    border-radius: 10px 0 10px 10px
    font-weight: 600
.name-letter
    width: 100px
    float: right
    background: $blue
    text-align: center
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    margin-top: -22px
    font-size: 16px
    font-family: Arial, Helvetica, sans-serif
    color: $white
    font-weight: 700
.divider
    height: 75px
    width: 10px
    background-color: $grey
    margin-left: 32%
    display: inline-block
    margin-top: -25px
.card-bottom
    background-color: $blue
    margin-top: -40px
    border-top-right-radius: 10px
    padding: 50px 10px 10px 10px
.card-top
    background-color: $white
    margin-top: 10px
    padding-bottom: 25px
    padding-left: 10px
    .panel
        width: 340px
        margin: 0 auto
        margin-bottom: 10px
        float: right
        margin-right: 25px
        margin-top: 10px
    img
        margin: 0 auto
        min-width: 320px
        min-height: 320px
        width: 320px
        height: 320px
        background-position: center
        background-image-size: 100%
        margin-bottom: 10px
        margin-top: 25px
.user-card
    width: 300px
    height: 150px
    background-color: $grey
    margin-bottom: 10px
    &.flipped
        width: 150px
        height: 300px
.user-info
    width: auto
    padding: 1px 5px 5px 5px
    min-width: 320px
    min-height: 200px
    background-color: $white
    h4
        font-weight: 300
        a, a:visited
            color: $pink
.flip-container
    perspective: 1000px
    transform: rotateY(0deg)
    background-color: #AA9FB1
.flip-container:hover .flipper, .flip-container.hover.flipper
    transform: rotateY(180deg)
.flip-container, .front, .back 
    width: 300px
    height: 150px
    overflow: hidden
.flipper
    transition: 0.6s
    transform-style: preserve-3d
    position: relative
.front, .back
    backface-visibility: hidden
    position: absolute
    top: 0
    left: 0
.back img
    transform: rotateY(180deg)
    background-color: $purple
.front
    background-color: #4E5283
    z-index: 1
.flipped, .flipped img
    width: 150px
    height: 300px
    max-height: 300px
    max-width: 150px
    .front, .back, .front img, .back img
        width: 150px
        height: 300px
        max-width: 150px
        max-height: 300px
        