@import './colors'
@import './Nav/nav'
@import './Dashboard/dashboard'
@import './Card/card'

html, body
    width: 100%
    height: 100%
    background-color: $bg-color
    font-family: Helvetica
    color: $purple
    &::-webkit-scrollbar
        display: none
.content
    width: 90%
    margin: 0 auto
    margin-top: 80px
    padding: 5px
