@import url(https://fonts.googleapis.com/css?family=Lobster);.rd-navbar {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #3D2A4C;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 1; }
  .rd-navbar div ul {
    list-style: none;
    margin-bottom: 0; }
    .rd-navbar div ul li {
      float: left;
      margin-right: 20px;
      font-size: 16px; }
      .rd-navbar div ul li a {
        color: white;
        text-decoration: none; }
        .rd-navbar div ul li a:hover {
          cursor: pointer;
          color: #5fb3b8;
          transition: color .5s; }
        .rd-navbar div ul li a.selected {
          border-bottom: 10px solid white;
          transition: border-bottom .5s ease-out;
          padding-bottom: 5px; }
  .rd-navbar .mast {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px; }
  .rd-navbar .mast-accent {
    font-family: "Lobster", cursive; }

.rd-navbar .col-md-12 {
  display: flex;
  align-items: center; }

.content .container {
  margin: 0 auto; }

.portal {
  outline-color: #969696;
  outline-width: 1px; }

.card {
  width: 100%;
  background-color: #969696;
  padding: 5px;
  height: auto;
  min-height: 160px;
  margin-bottom: 10px;
  overflow: auto; }
  .card img {
    width: 100%;
    max-width: 300px; }
  .card .flipped {
    max-width: 150px;
    height: 300px; }
  .card .col-md-6 {
    padding-left: 10px; }

.card-page {
  margin: 0 auto; }

.my-card {
  width: 100%;
  min-height: 200px;
  border-radius: 10px 0 10px 10px;
  font-weight: 600; }

.name-letter {
  width: 100px;
  float: right;
  background: #7083fa;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -22px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700; }

.divider {
  height: 75px;
  width: 10px;
  background-color: #969696;
  margin-left: 32%;
  display: inline-block;
  margin-top: -25px; }

.card-bottom {
  background-color: #7083fa;
  margin-top: -40px;
  border-top-right-radius: 10px;
  padding: 50px 10px 10px 10px; }

.card-top {
  background-color: #fff;
  margin-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px; }
  .card-top .panel {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 10px;
    float: right;
    margin-right: 25px;
    margin-top: 10px; }
  .card-top img {
    margin: 0 auto;
    min-width: 320px;
    min-height: 320px;
    width: 320px;
    height: 320px;
    background-position: center;
    background-image-size: 100%;
    margin-bottom: 10px;
    margin-top: 25px; }

.user-card {
  width: 300px;
  height: 150px;
  background-color: #969696;
  margin-bottom: 10px; }
  .user-card.flipped {
    width: 150px;
    height: 300px; }

.user-info {
  width: auto;
  padding: 1px 5px 5px 5px;
  min-width: 320px;
  min-height: 200px;
  background-color: #fff; }
  .user-info h4 {
    font-weight: 300; }
    .user-info h4 a, .user-info h4 a:visited {
      color: #a05a99; }

.flip-container {
  perspective: 1000px;
  transform: rotateY(0deg);
  background-color: #AA9FB1; }

.flip-container:hover .flipper, .flip-container.hover.flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 300px;
  height: 150px;
  overflow: hidden; }

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.back img {
  transform: rotateY(180deg);
  background-color: #3d2a4c; }

.front {
  background-color: #4E5283;
  z-index: 1; }

.flipped, .flipped img {
  width: 150px;
  height: 300px;
  max-height: 300px;
  max-width: 150px; }
  .flipped .front, .flipped .back, .flipped .front img, .flipped .back img, .flipped img .front, .flipped img .back, .flipped img .front img, .flipped img .back img {
    width: 150px;
    height: 300px;
    max-width: 150px;
    max-height: 300px; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #59484b;
  font-family: Helvetica;
  color: #3d2a4c; }
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; }

.content {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 5px; }
