.portal
    outline-style: solid
    outline-color: $grey
    outline-width: 1px
.card
    width: 100%
    background-color: $grey
    padding: 5px
    img
        width: 100%
        max-width: 300px
    .flipped
        max-width: 150px
        height: 300px

.ml5
    width: 82%
    margin-right: 5px